name: Check Schema Files

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-schema-files:
    name: Check Schema Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Install Dependencies
        run: npm install

      - name: Run Validation Script
        run: npm run schema:validate-ocf-file-schemas
