name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: "npm"

      - name: Install Dependencies
        run: npm install

      - name: Lint Prettier
        run: npm run lint
